<!doctype html>

<html>
  <head>
  
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="E:\education project\style.css">
      <script type="text/javascript" src="javascript.js"></script>  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
      <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

  <body>
       <div class="container" >
       
        <div class="row top">
           
           <div class="col-xs-3">
              <h1 class="name">EDURIGHT</h1>
            </div>
           
           
            <div class="col-xs-3">
                <h2 class="display_1 topcnt">
                    Have Any Questions?
                </h2>
            </div>
            
            <div class="col-xs-3">
                <h2 class="display_1 topcnt">
                    <i class="glyphicon glyphicon-earphone"> Call:0123456789</i>
                </h2>
            </div>            
            
            <div class="col-xs-3">
                <h2 class="display_1 topcnt">
                   <i class="glyphicon glyphicon-pushpin">  Mail us at: abcd@gmail.com</i>
                </h2>
            </div>
            
        </div>
        
        <div class="row">

            <div>
            
                <nav class="navbar navbar-default bg-primary navbar-expand-md fixed-top">
                    
                    <div class="navbar ">
                        <ul class="nav nav-pills ">
                            <li ><a href="E:\education project\index.html"> HOME</a></li>
                            <li ><a href="aboutus.html">ABOUT</a></li>
                            
                             <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">COURSES<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header"><strong>ENGINEERING</strong></li>
                                    <li><a href="#">COMPUTER SCIENCE</a></li>
                                    <li><a href="#mech">MECHANICAL</a></li>
                                    <li><a href="#elect">ELECTRICAL</a></li>
                                    <li><a href="#">ELECTRONICS</a></li>
                                    <li><a href="#chem">CHEMICAL</a></li>
                                    
                                    <li class="divider"></li>
                                    <li class="dropdown-header"><strong>MANAGMENT</strong></li>
                                    <li><a href="#">MBA</a></li>
                                    <li><a href="#">BBA+MBA</a></li>
                                    <li><a href="#">PMP</a></li>
                                    
                                    <li class="divider"></li>
                                    <li class="dropdown-header"><strong>MEDICAL</strong></li>
                                    <li><a href="#">MBBS </a></li>
                                    <li><a href="#">BDS </a></li>
                                    <li><a href="#">B.Pharma</a></li> 
                                    <li><a href="#">B.Sc Nursing Course</a></li>                                    
                                    
                                </ul>
                            </li>
                            
                            <li>
                               <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">RESULTS<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header"><a href="#"><strong>ENGINEERING</strong></a></li>
                                    
                                    <li class="divider"></li>
                                    <li class="dropdown-header"><a href="#"><strong>MANAGMENT</strong></a></li>
                                    
                                    <li class="divider"></li>
                                    <li class="dropdown-header"><a href="#"><strong>MEDICAL</strong></a></li>
                                </ul>
                            
                            </li>
                            <li ><a href="#" >GALLERY</a></li>
                            <li><a href="contact.html">CONTACT US</a></li>
                        </ul>
                        
                    </div>
                </nav>
            </div>
        
        </div>
        
         <div class="row">
           <div >
               <h2>Engineeering Programs</h2>
           </div>
            
        </div> 
              
        <div class="engbg">
              <div class="row">
                       <div class="col-xs-6">
                         <h3 class="enghead">Computer Science Engineering</h3>
                          <img src="E:\education project\images\Computer-Science-Engineering.jpeg" id="img" class="img-rounded">

                       </div>

                       <div class="col-xs-6">
                          <p class="engcnt"><br><br><br>Computer Science Engineering (CSE) encompasses a variety of topics that relates to computation, <br>
                          like analysis of algorithms, programming languages,<br> 
                            program design, software, and computer hardware.

                            Computer Science engineering has roots in electrical engineering,<br> 
                             mathematics, and linguistics. <br>
                             In the past Computer Science was taught as part of mathematics or engineering departments<br>
                              and in the recent days it has emerged as a separate engineering field
                      </p> 

                       </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6">
                        <p class="engcnt">
                            <br><br><br>
                             Mechanical engineering is the discipline that applies engineering, physics, engineering mathematics, and materials science principles to design, analyze, manufacture, and maintain mechanical systems. It is one of the oldest and broadest of the engineering disciplines.

                            The mechanical engineering field requires an understanding of core areas including mechanics, dynamics, thermodynamics, materials science, structural analysis, and electricity. In addition to these core principles, mechanical engineers use tools such as computer-aided design (CAD), computer-aided manufacturing (CAM), and product life cycle management to design and analyze manufacturing plants, industrial equipment and machinery, heating and cooling systems, transport systems, aircraft, watercraft, robotics, medical devices, weapons, and others. It is the branch of engineering that involves the design, production, and operation of machinery
                      </p> 
                         

                       </div>

                       <div class="col-xs-6" id="mech">
                           <h3 class="enghead">Mechanical Engineering</h3>
                          <img src="E:\education project\images\mech.jpg" id="img" class="img-rounded">

                       </div>
                </div>
                
                <div class="row">
                       <div class="col-xs-6" id="elect">
                         <h3 class="enghead">Electrical Engineering</h3>
                          <img src="E:\education project\images\elect.jpeg" id="img" class="img-rounded">

                       </div>

                       <div class="col-xs-6">
                        <p class="engcnt">
                         <br><br><br>
                          Electrical engineering is now divided into a wide range of fields including, computer engineering, power engineering, telecommunications, radio-frequency engineering, signal processing, instrumentation, and electronics. Many of these disciplines overlap with other engineering branches, spanning a huge number of specializations including hardware engineering, power electronics, electromagnetics and waves, microwave engineering, nanotechnology, electrochemistry, renewable energies, mechatronics, and electrical materials science. See glossary of electrical and electronics engineering.
                      </p> 

                       </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" id="chem">
                        <p class="engcnt">
                            <br><br><br>
                             Chemical engineers are involved in many aspects of plant design and operation, including safety and hazard assessments, process design and analysis, modeling, control engineering, chemical reaction engineering, nuclear engineering, biological engineering, construction specification, and operating instructions.

                    Chemical engineers typically hold a degree in Chemical Engineering or Process Engineering. 
                     Practising engineers may have professional certification and be accredited members of a professional body. 
                     Such bodies include the Institution of Chemical Engineers (IChemE) or the American Institute of Chemical Engineers (AIChE). 
                     A degree in chemical engineering is directly linked with all of the other engineering disciplines,
                      </p> 
                         

                       </div>

                       <div class="col-xs-6" >
                           <h3 class="enghead">Chemical Engineering</h3>
                          <img src="E:\education project\images\chem.jpg" id="img" class="img-rounded">

                       </div>
                </div>                
        </div>
      </div>    
    </body>
</html>      
    